#component8 {
    width: 100%;
    min-width: 1280px;
    height: 673px;

    display: grid;
    grid-template-columns: 200fr 60px 110fr minmax(1150px, 1184px) 110fr 60px 200fr;
    grid-template-rows: 1fr;

    background-color: #000000;
}

/* Arrows */

#component8 .arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    width: 60px;
    height: 60px;
    grid-row: 1 / 2;

    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;

    color: #FFFFFF;
    line-height: 40px;
    font-size: 30px;
}

#component8 .arrow:hover {
    background-color: #1A1C27;
    border: none;
    cursor: pointer;
}

#component8 .left {
    grid-column: 2 / 3;
}

#component8 .right {
    grid-column: 6 / 7;
}

#component8 main {
    width: 100%;
    height: 100%;
    grid-column: 4 / 5;
    text-align: center;
    
    box-sizing: border-box;
    padding-top: 95px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#component8 main h2 {
    height: 36px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    line-height: 20px;
    color: #FFFFFF;

    margin-bottom: 5px;
}

#component8 main h2>span {
    font-weight: 300;
}

#component8 main p {
    width: 100%;
    height: 46px;
    white-space: pre-line;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;

    margin-bottom: 15px;
}

#component8 main .buttons {
    width: 350px;
    height: 45px;

    display: flex;
    justify-content: space-between;

    margin-bottom: 80px;
}

#component8 main .buttons>* {
    height: 100%;
    width: 170px;

    font-size: 15px;
    font-weight: 900;
    line-height: 40px;
    color: #FFFFFF;
}

#component8 main .buttons .more {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

#component8 main .buttons .purchase {
    background-color: #21C2F8;
    border: none;
}

#component8 main img {
    width: 100%;
    margin-bottom: 5px;
}