#component11 {
    width: 100%;
    min-width: 1280px;
    height: 610px;

    display: grid;
    grid-template-columns: 1fr 1170px 1fr;
    grid-template-rows: 1fr;
    align-items: center;

    background-color: transparent;
}

#component11 .main {
    width: 1170px;
    height: 430px;

    grid-column: 2 / 3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Lists */

#component11 .lists {
    width: 100%;
    height: 325px;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 277px 22px 271px 29px 271px 29px 271px 1fr;
}

#component11 h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #2C3E50;
    width: 100%;
    height: 22px;

    margin-bottom: 10px;
}

#component11 hr {
    opacity: 30%;
    width: 100%;
    height: 2px;
    border: none;
    background-color: #A1B1BC;
    margin-bottom: 12px;
}

#component11 ul {
    list-style: none;
    width: 100%;
    height: 280px;
    overflow: hidden;
}

#component11 li {
    line-height: 40px;

    font-size: 14px;
    font-weight: 400;
    color: #A1B1BC;

    height: 40px;
    width: 100%;

    box-sizing: border-box;
    white-space: nowrap;
    overflow: visible;
}

#component11 li:not(:nth-child(7)) {
    border-bottom: 1px solid #ECF0F1;
}

#component11 li::before {
    font-family: 'FontAwesome';
    content: "";
    padding-right: 8px;
    color: #1ABC9C;
    font-size: 14px;
    line-height: 40px;
}

/* Search */

#component11 .search {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}

#component11 input {
    width: 100%;
    height: 100%;

    background-color: rgba(236, 240, 241, 53%);

    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 3px;
}

#component11 input::placeholder, #component11 input {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #A1B1BC;
    padding-left: 15px;
    padding-top: 5px;
}

#component11 button {
    border: none;
    background-color: transparent;

    position: absolute;
    height: 24px;
    width: 22px;

    top: 50%;
    right: 0;
    transform: translate(-115%, -50%);

    font-size: 24px;
    line-height: 24px;
    color: #A1B1BC;
}