#component4 {
    margin-top: 155px;

    width: 100vw;
    min-width: 1280px;
    height: 140px;

    display: grid;
    grid-template-columns: 1fr minmax(1035px, 1170px) 1fr;
    grid-template-rows: 1fr;
}

#component4 main {
    width: 100%;
    height: 100%;

    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 31fr 100px 39fr 751px 26fr 180px 43fr;
    grid-template-rows: 1fr;

    background-color: transparent;
    border: 1px solid #DFE8EA;
    border-radius: 20px;
    box-sizing: border-box;

    align-items: center;
}

/* Cart Icon */

#component4 .basket {
    width: 100px;
    height: 100px;

    grid-column: 2 / 3;
    grid-row: 1 / 2;

    background-color: #1ABC9C;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */

#component4 .content {
    width: 100%;

    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

#component4 .content * {
    margin-top: 8px;
}

#component4 .content>h2 {
    width: 100%;

    font-size: 24px;
    font-weight: bold;
    color: #34495E;
}

#component4 .content>p {
    width: 100%;
    margin-top: 8px;

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #A1B1BC;
}

/* Purchase Button */

#component4 button {
    width: 180px;
    height: 60px;

    grid-column: 6 / 7;
    grid-row: 1 / 2;

    background-color: #34495E;
    border-radius: 9px;
    
    box-shadow: 0 3px 0 #2C3E50;

    font-size: 15px;
    font-weight: 900;
    line-height: 24px;
    color: #FFFFFF;
}