#component3 {
    width: 100%;
    min-width: 1280px;
    height: 784px;

    display: grid;
    grid-template-columns: 1fr minmax(1061px, 1171px) 1fr;
    grid-template-rows: 1fr 662px;

    background-color: rgba(236, 240, 241, 30%);
}

#component3 header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 100%;
    height: 44px;
    margin-top: 90px;
    margin-bottom: 42px;
}

#component3 header>h2 {
    height: 100%;
    font-size: 36px;
    font-weight: 900;
    color: #34495E;
}

#component3 header>h2>span {
    font-weight: 300;
}

#component3 header>.buttons {
    width: 82px;
    height: 35px;
}

#component3 header button {
    width: 35px;
    height: 35px;

    background-color: #FFFFFF;
    border: 1px solid #CDD9E1;
    border-radius: 10px;

    font-size: 24px;
    color: #A1B1BC;
}

#component3 header button.left {
    float: left;
}

#component3 header button.right {
    float: right;
}

/* Items */

#component3 .main {
    display: flex;
    justify-content: space-between;

    grid-column: 2 / 3;
    grid-row: 2 / 3;

    width: 100%;
    height: 562px;
}

#component3 .container {
    width: 270px;
    height: 562px;

    background-color: #FFFFFF;
    border-radius: 10px;
}

#component3 .content {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 194px;

    background-color: transparent;

    border: 1px solid #E6E6E6;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;

    padding: 17.5px 0px;
}

#component3 .content>* {
    margin-left: 20px;
    margin-right: 20px;
}

#component3 .content>h3 {
    margin-bottom: 15px;
    width: auto;
    font-weight: bold;
    font-size: 18px;
    color: #2C3E50;
}

#component3 .content>.stars {
    margin-bottom: 13px;
    width: auto;
    font-size: 15px;
    color: #1ABC9C;
}

#component3 .content>.stars>span {
    color: #A1B1BC;
}

#component3 .content>.price {
    width: auto;
    font-size: 20px;
    font-weight: 900;
    color: #2C3E50;
    margin-bottom: 18px;
}

#component3 .content>hr {
    margin: 0px;
    border: 1px solid #E6E6E6;
    width: 100%;
    background-color: #E6E6E6;
    margin-bottom: 17.5px;
}

#component3 .content>button {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;

    width: 105px;
    height: 28px;
    background-color: #A1B1BC;
    border-radius: 6px;
    margin-right: 0;
}

#component3 .content>button>p {
    margin-left: 5px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
}

#component3 .container:hover>.content{
    border: none;
    background-color: #2C3E50;
}

#component3 .container:hover>.content>h3, #component3 .container:hover>.content>.price {
    color: #FFFFFF;
}

#component3 .container:hover button{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

#component3 .container:hover .add {
    background-color: #1ABC9C;
    border: none;
}

#component3 .container:hover hr{
    opacity: 10%;
}